.other-users-profile {
  width: inherit;
}
@media (max-width: 600px) {
  main {
    width: 100vw;
    margin: 0;
  }
  .other-users-profile {
    align-items: center;
  }
  h2 {
    font-size: 1.25rem;
  }
  .user-title-bar {
    flex-direction: row-reverse;
    align-items: center;
    padding: 0.5rem;
    padding-top: 3rem;
    text-align: end;
    gap: 1rem;
  }
}
