@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220; */
  --background-start-rgb: 252, 152, 59;
  --background-end-rgb: 255, 255, 255;

  --background-glass-rgb: 255, 255, 255, 0.95;
  --hover-link: 168, 85, 247;
  --clicked-link: 93, 8, 173;
  --form-purple: 168, 85, 247;
  color: rgb(28, 0, 54);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 28, 0, 54;

    --background-glass-rgb: 0, 0, 0, 0.9;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  display: flex;
  flex-direction: row;
}

main {
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

input,
textarea {
  color: black;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

/* --- --- --- --- --- --- --- --- --- --- --- ---  */
/* Home Page */
/* --- --- --- --- --- --- --- --- --- --- --- ---  */

.home-container {
  height: 100dvh;
  width: 100%;

  padding-top: 4em;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/* --- --- --- --- --- --- --- --- --- --- --- ---  */
/* Other Users Page */
/* --- --- --- --- --- --- --- --- --- --- --- ---  */
.other-users-container {
  height: 100dvh;
}

/* --- --- --- --- --- --- --- --- --- --- --- ---  */
/* Making our main button fancy */
.submit-form-button {
  padding: 0.25rem;
  height: 2.5rem;
  width: 10rem;
  background-color: orange;

  border-bottom: 3px solid rgb(255, 115, 0);
  border-right: 1px solid rgb(255, 115, 0);

  border-radius: 0.25rem;
}
.submit-form-button:hover {
  background-color: rgb(255, 175, 0);
  box-shadow: 0 0 3px rgb(var(--foreground-rgb));
}
.submit-form-button:active {
  background-color: rgb(var(--hover-link));
  border-bottom: 1px solid rgb(var(--clicked-link));
  border-right: 3px solid rgb(var(--clicked-link));
  box-shadow: none;
}
/* --- --- --- --- --- --- --- --- --- --- --- ---  */

/* --- --- --- --- --- --- --- --- --- --- --- ---  */
/* Individual Posts Image */
/* --- --- --- --- --- --- --- --- --- --- --- ---  */
.post-image img {
  width: 2.5rem;

  height: auto;

  border-radius: 5em;
  opacity: 75%;

  border: 2px solid hsla(0, 0%, 0%, 0.2);
}
/* --- --- --- --- --- --- --- --- --- --- --- ---  */

.posts-container {
  width: 70%;
  height: 50em;
  margin-bottom: 2em;

  overflow-y: scroll;
  padding: 10px;

  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;
  box-shadow: rgba(255, 255, 255, 0.25) 0px -70px 45px -15px inset;
}

.user-form {
  width: 50%;
  border: 2px solid rgb(var(--clicked-link));
}

.user-details-text {
  padding-right: 1.5rem;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 0.25rem;

  position: relative;
}

.user-details-text::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0.2rem;
  right: 0;
  bottom: 0;
  background-color: orange;
}
/* --- --- --- --- --- --- --- --- --- --- --- ---  */
/* --- User Profile Page --- */
/* --- --- --- --- --- --- --- --- --- --- --- ---  */

/* The actual user avatar image itself */
/* I don't think this is in use anymore... */
.user-avatar-image {
  border-radius: 10%;
  border: solid 3px rgba(255, 255, 255, 0.5);
}

/* The Clerk Update Box */
.cl-navbar {
  display: none;
}

.cl-cardBox {
  height: 100%;
  color: white;
}

.cl-scrollBox {
  background-color: rgb(var(--form-purple));
}

@media (max-width: 600px) {
  .posts-container {
    width: 90%;
  }
  .user-form {
    width: 85%;
  }

  main {
    width: 100vw;
    margin: 0;
  }
  .top-bar {
    align-items: end;
    text-align: end;
    padding-right: 0.5rem;
  }
}
