/* --- --- --- --- --- --- --- --- --- --- --- ---  */
/* --- Header settings for all pages --- */
/* --- --- --- --- --- --- --- --- --- --- --- ---  */

header {
  padding: 0.5em;
  padding-left: 0.75em;

  margin-right: 0.5em;

  height: 100vh;
  width: 7.5em;

  display: flex;
  flex-direction: column;

  gap: 2rem;

  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-glass-rgb));
}

header nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1em;
}

/* The div which contains the users avatar, and their Clerk button */
.user-signed-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.cl-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgb(var(--hover-link));
}

/* This is the specific Clerk user button avatar */
.cl-avatarBox {
  width: 5em;
  height: 5em;
  border-radius: 10%;
  box-shadow: 0 0 5px grey;
}

/* --- --- --- --- --- --- --- ---  */
/* Our fancy links have the animation underline thing */
/* --- --- --- --- --- --- --- ---  */

.fancy-link {
  position: relative;
}
.fancy-link::after {
  content: "";
  position: absolute;
  left: -0.5em;
  top: 0;
  background-color: rgb(var(--foreground-rgb));

  height: 100%;
  width: 0.15em;

  transition: all 450ms;
}
.fancy-link:hover::after {
  height: 0.15em;
  top: 100%;
  background-color: rgb(var(--hover-link));
}
.fancy-link::before {
  content: "";
  position: absolute;
  left: -0.5em;
  top: 100%;
  background-color: rgb(var(--foreground-rgb));

  height: 0.15em;
  width: 0%;

  transition: all 250ms;
}
.fancy-link:hover::before {
  width: 100%;
  top: 100%;
  background-color: rgb(var(--hover-link));
}

/* This is the Next.js applied class to indicate to the user which page they're on  */

.active-link {
  border-bottom: rgb(255, 255, 255);
}
.active-link::after {
  background-color: orange;
}
